body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

#authorInfo {
  padding-top: 200px;
  text-align: center;
  color: white;

}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://www.stevens.edu/sites/stevens_edu/files/styles/home_page_carousel_item_740x416/public/08-034_Stevens_Tech_0446_0.jpg?itok=w6DXKx0Y) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://img.andrewprokos.com/HOBOKEN-BROWNSTONES-0847-1000PX.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://cdn.visitnj.org/sites/default/master/files/styles/article_slideshow_full/public/carousel/2012-0628-dsc_3809.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/86/23/f6/8623f69c7b34d21ea7631cef41f9df57.jpg);
  animation-delay: 30s; 
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}